#{extends 'standardForm.html' /}
#{set title:'Vrste placanja' /}

<script>

$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";

	$("#search").click(function() {
		var loc = '@{VrstePlacanja.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#add").click(function() {
		var loc = '@{VrstePlacanja.show()}' + '?mode=add&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#edit").click(function() {
		var loc = '@{VrstePlacanja.show()}' + '?mode=edit&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{VrstePlacanja.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});

function sync(data){

    $("#oznakaVrste").val(data[0]);
    $("#nazivVrstePlacanja").val(data[1]);
    $("#id").val(data[2]);
    
    highlightedId = data[2];
}

function remove(id){
	$(location).attr('href', '/VrstePlacanja/delete?id=' +id)
}

function nextAnalitikeIzvoda(){
	if(highlightedId==null || highlightedId == "") {
		alert("Vrsta placanja nije izabrana!");
	} else {
		var string = '/VrstePlacanja/nextAnalitikeIzvoda?filterId=' + highlightedId;
		$(location).attr('href', '/VrstePlacanja/nextAnalitikeIzvoda?filterId=' + highlightedId);	
	}
}

</script>

#{StandardFormToolbar nextForm : 'nextAnalitikeIzvoda()' /}

<div class = "container-fluid">
<h1>Vrste placanja</h1>

#{TabelaVrstePlacanja data : placanje, tableId: 'tabela_vrste_placanja', hiddenColumns : '[2]', idColumn:'2'/}


<div class = "panel">
	<p>
		<div><b>Status: ${flash.mode}</b></div> <br>
			#{set 'action'}
				#{if flash.mode == 'add'}
					@{VrstePlacanja.create()}
				#{/if}
				#{elseif flash.mode == 'edit'}
					@{VrstePlacanja.edit()}
				#{/elseif}
				#{else}
					@{VrstePlacanja.filter()}
				#{/else}
			#{/set}
		
			<form action=${action} method="post">
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				<p>
				#{field 'oznakaVrste'}
					<label for = "${field.id}">Oznaka vrste</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>					
				#{/}
				</p>
				<p>
				#{field 'nazivVrstePlacanja'}
					<label for = "${field.id}">Naziv vrste</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>					
				#{/}
				</p>

				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{VrstePlacanja.show("edit")}" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>
</div>

