#{extends 'standardForm.html' /}
#{set title:'Valute' /}

<script>

$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";
	
	$("#search").click(function() {
		var loc = '@{Valute.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#add").click(function() {
		var loc = '@{Valute.show()}' + '?mode=add&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#edit").click(function() {
		var loc = '@{Valute.show()}' + '?mode=edit&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{Valute.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});

function sync(data){
    
    $("#zvanicnaSifra").val(data[0]);
    $("#nazivValute").val(data[1]);
    $("#id").val(data[3]);
    $("#drzava").val(data[4]);
    
    highlightedId = data[3];
}

function remove(id){
	$(location).attr('href', '/Valute/delete?id=' +id)
}

function nextKurseviUValutiOsnovna(){
	if(highlightedId==null || highlightedId == "") {
		alert("Valuta nije izabrana!");
	} else {
		var string = '/Valute/nextKurseviUValutiOsnovna?filterId=' + highlightedId;
		$(location).attr('href', '/Valute/nextKurseviUValutiOsnovna?filterId=' + highlightedId);	
	}
}

function nextKurseviUValutiPrema(){
	if(highlightedId==null || highlightedId == "") {
		alert("Valuta nije izabrana!");
	} else {
		var string = '/Valute/nextKurseviUValutiPrema?filterId=' + highlightedId;
		$(location).attr('href', '/Valute/nextKurseviUValutiPrema?filterId=' + highlightedId);	
	}
}

function nextRacuni(){
	if(highlightedId==null || highlightedId == "") {
		alert("Valuta nije izabrana!");
	} else {
		var string = '/Valute/nextRacuni?filterId=' + highlightedId;
		$(location).attr('href', '/Valute/nextRacuni?filterId=' + highlightedId);	
	}
}

function nextAnalitike(){
	if(highlightedId==null || highlightedId == "") {
		alert("Valuta nije izabrana!");
	} else {
		var string = '/Valute/nextAnalitike?filterId=' + highlightedId;
		$(location).attr('href', '/Valute/nextAnalitike?filterId=' + highlightedId);	
	}
}
</script>

#{StandardFormToolbar nextForms : [[disp:'Kurs u valuti po osnovnoj', action:'nextKurseviUValutiOsnovna()'],[disp:'Kurs u valuti po prema', action:'nextKurseviUValutiPrema()'],[disp:'Racuni', action:'nextRacuni()'],[disp:'Analitike izvoda', action:'nextAnalitike()']]/}

<div class = "container-fluid">
<h1>Valute</h1>
<!--
<table class = "maintable">
	<tr class = "header">
	   <th>Sifra</th> 
	   <th>Naziv</th>
	</tr>
#{list items:valute, as:'valuta'}
	<tr>
		<td class = "zvanicnaSifra">${valuta.zvanicnaSifra}</td>
		<td class = "nazivValute">${valuta.nazivValute}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${valuta.id}</td>
	</tr>
#{/list}
</table>
-->
#{TabelaValute data : valute, tableId: 'tabela_valute', hiddenColumns : '[3,4]', idColumn:'3' /}
<div class = "panel">
	<p>
		<div><b>Status: ${mode}</b></div> <br>
			#{set 'action'}
				#{if flash.mode == 'add'}@{Valute.create()}#{/if}
				#{elseif flash.mode == 'edit'}@{Valute.edit()}#{/elseif}
				#{else}@{Valute.filter()}#{/else}
			#{/set}
		
			<form action=${action} method="post">
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'zvanicnaSifra'}
					<label for = "${field.id}">Sifra</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'zvanicnaSifra' /}</span>
				#{/}
				</p>
				<p>
				#{field 'nazivValute'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'nazivValute' /}</span>
				#{/}
				</p>
				<p>
				#{field 'drzava'}
					<label for = "${field.id}">Država</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					#{list items:drzave, as:'drzava'}
					<option value = "${drzava.id}">${drzava.naziv}</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#drzave_modal">...</button>
					<span class="error">#{error 'drzava' /}</span>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Valute.show("edit")}" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>
</div>
#{ModalTemplate modalId : 'drzave_modal', modalTitle : 'Drzave', selectId : 'drzava', table : 'tags/TabelaDrzave.html', data : drzave, tableId: 'tabela_drzave', hiddenColumns : '[2]', idColumn:'2' /}