#{extends 'standardForm.html' /}
#{set title:'Ukidanje' /}

<script>

$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";

	$("#search").click(function() {
		var loc = '@{Racuni.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{Racuni.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});


function sync(data){
	$("#racun").val(data[0]);
	$("#sredSePrenNaRacun").val(data[1]);
	$("#datumUkidanja").val(data[2]);
    $("#id").val(data[3]);
    
    highlightedId = data[3];
}

function remove(id){
	$(location).attr('href', '/Ukidanja/delete?id=' +id)
}

$(document).ready(function() {
	$( "#datepicker" ).datepicker();
});

</script>

#{StandardFormToolbar/}

<div class = "container-fluid">
<h1>Ukidanje</h1>

#{TabelaUkidanja data : ukidanje, tableId: 'tabela_ukidanja', hiddenColumns : '[2]', idColumn:'2'/}

<div class = "panel">
	<p>
		<div><b>Status: read-only</b></div> <br>
			<form>
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				<p>
				#{field 'racun'}
					<label for = "${field.id}">Racun</label>
					<input type="text"  id="${field.id}" name="${field.name}">
				#{/}
				</p>
				<p>
				#{field 'sredSePrenNaRacun'}
					<label for = "${field.id}">Sredstva se prenose na racun</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>					
				#{/}
				</p>
				<p>
				#{field 'datumUkidanja'}
					<label for = "${field.id}">Datum ukidanja</label>
					<input type="text"  id="${field.id}" name="${field.name}">
					<script>
					$("#${field.id}").datepicker();
					</script>				
				#{/}
				</p>

				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Ukidanja.show("edit")}" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>
</div>