#{extends 'standardForm.html' /}
#{set title:'Analitike izvoda' /}

<script>
	$(document).ready(function() {
		highlightedId = "${flash.highlightedId}";

		$("#search").click(function() {
			var loc = '@{AnalitikeIzvoda.show()}' + '?mode=search&highlightedId=' + highlightedId;
			$(location).attr('href', loc);
		});
		$("#refresh").click(function() {
			var mode = "${flash.mode}";
			$(location).attr('href', '@{AnalitikeIzvoda.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
		});
	});

	function sync(data){
		//po potrebi dodati sinhronizaciju
	
 	   highlightedId = data[0];
	}
	
	function remove(id){
		$(location).attr('href', '/AnalitikeIzvoda/delete?id=' +id)
	}
	
	function openFileOption()
	{
		document.getElementById("load").click();
	}

</script>

<p>
	<ul>
		<li><a href="/" id = "analitikeIzvoda"><img src="@{'/public/images/home.png'}"/></a></li>
  
  		<li><a href="@{AnalitikeIzvoda.show('search')}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  		<li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  		<li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  		<li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  		<li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  		<li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  		<li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  		<li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  		<!--<li><a href="@{AnalitikeIzvoda.show('add')}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li> -->
  		<!--<li><a href="@{AnalitikeIzvoda.show('edit')}" id = "edit"><img src="@{'/public/images/edit.png'}"/></a></li> -->
  		<li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  		<li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  		<!-- <li><a href="#" id = "load"><img src="@{'/public/images/file.png'}"/></a></li> -->
  		
  		<li>
  			<a  data-toggle="modal"  data-target="#analitikaModal"><img src="@{'/public/images/file.png'}"/></a>
  		</li>
  		
	</ul>
</p>

<div class = "container-fluid">
	<h1>Analitike izvoda</h1>

	#{TabelaAnalitikeIzvoda data : analitikeIzvoda, tableId: 'tabela_analitike_izvoda', hiddenColumns : '[]', idColumn:'0'/}	
	
	<div class="modal fade" id="analitikaModal" role="dialog">
    	<div class="modal-dialog">
      	<!-- Modal content-->
      	<div class="modal-content">
      	<div class="modal-header">Ucitavanje analitike izvoda iz .xml fajla</div>
      	
      	<div class="modal-body">
			<form action="@{AnalitikeIzvoda.load()}">
  				<input type="file" name="myFile" id="myFile" accept="text/xml">
  				<input type="submit" value="potvrdi">
			</form>
		</div>
      	
      	</div>
    	</div>
   	</div>
	
	<!--  
	
	<div class = "panel">
	<p>
		<div><b>Status: ${mode}</b></div> <br>
			#{set 'action'}
				#{if mode == 'add'}
					@{AnalitikeIzvoda.create()}
				#{/if}
				#{elseif mode == 'edit'}
					@{AnalitikeIzvoda.edit()}
				#{/elseif}
				#{else}
					@{AnalitikeIzvoda.filter()}
				#{/else}
			#{/set}
		
			<form action=${action} method="post">
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'brojStavke'}
					<label for = "${field.id}">Broj stavke:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'duzNalogodavac'}
					<label for = "${field.id}">Duznik - nalogodavac:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'svrhaPlacanja'}
					<label for = "${field.id}">Svrha placanja:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'povjerPrimalac'}
					<label for = "${field.id}">Povjerilac - primalac:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'datumPrijema'}
					<label for = "${field.id}">Datum prijema:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" readonly="readonly"/>
					
					<script>
						$('#datumPrijema').datepicker();
					</script>
				#{/}
				</p>
				<p>
				#{field 'datumValute'}
					<label for = "${field.id}">Datum valute:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" readonly="readonly"/>
					
					<script>
						$('#datumValute').datepicker();
					</script>
				#{/}
				</p>
				<p>
				#{field 'racunDuznika'}
					<label for = "${field.id}">Racun duznika:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'modelZaduzenja'}
					<label for = "${field.id}">Model zaduzenja:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'pozNaBrojZaduzenja'}
					<label for = "${field.id}">Poziv na broj zaduzenja:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'racunPovjerioca'}
					<label for = "${field.id}">Racun povjerioca:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'modelOdobrenja'}
					<label for = "${field.id}">Model odobrenja:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'pozNaBrojOdobrenja'}
					<label for = "${field.id}">Poziv na broj odobrenja:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'hitno'}
					<label for = "${field.id}">Hitno:</label>
					<input type = "checkbox" name = "${field.name}" id = "${field.name}" value="checked"/>
				#{/}
				</p>
				<p>
				#{field 'iznos'}
					<label for = "${field.id}">Iznos:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'tipGreske'}
					<label for = "${field.id}">Tip greske:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'status'}
					<label for = "${field.id}">Status:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
		</p>
	</div>
	
	-->
	
</div>
	
