#{extends 'standardForm.html' /}
#{set title:'Kursne Liste' /}

<script>

$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";

	$("#search").click(function() {
		var loc = '@{KursneListe.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#add").click(function() {
		var loc = '@{KursneListe.show()}' + '?mode=add&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{KursneListe.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});

function sync(data){
	
	
    $("#datumKursneListe").val(data[2]);
    $("#brojKursneListe").val(data[1]);
    $("#primSeOd").val(data[3]);
    $("#primSeDo").val(data[4]);
    $("#id").val(data[5]);
    $("#banka").val(data[6]);
    
    highlightedId = data[6];
}
/*
function nextForm(id){
	$(location).attr('href', '/NaseljenaMesta/nextForm?drzava_id=' +id);	
}
*/
function remove(id){
	$(location).attr('href', '/KursneListe/delete?id=' +id)
}

</script>

<p>
#{StandardFormToolbar /}

<div class = "container-fluid">
<h1>Kursne Liste</h1>
<!--
<table class = "maintable">
	<tr class = "header">
	   <th>Datum kursne liste</th> 
	   <th>Broj kursne liste</th>
	   <th>Primjenjuje se od</th> 
	   <th>Primjenjuje se do</th>
	   <th>Banka</th> 
	</tr>
#{list items:kursneListe, as:'kursnaLista'}
	<tr>
		<td class = "datumKursneListe">${kursnaLista.datumKursneListe}</td>
		<td class = "brojKursneListe">${kursnaLista.brojKursneListe}</td>
		<td class = "primSeOd">${kursnaLista.primSeOd}</td>
		<td class = "primSeDo">${kursnaLista.primSeDo}</td>
		<td class = "banka">#{if kursnaLista.banka} ${kursnaLista.banka.nazivBanke} #{/if}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${kursnaLista.id}</td>
	</tr>
#{/list}
</table>
-->
#{TabelaKursneListe data : kursneListe, tableId: 'tabela_kursne_liste', hiddenColumns : '[4,6]', idColumn:'5'/}
<div class = "panel">
	<p>
		<div><b>Status: ${mode}</b></div> <br>
			#{set 'action'}
				#{if flash.mode == 'add'}@{KursneListe.create()}#{/if}
				#{elseif flash.mode == 'edit'}@{KursneListe.edit()}#{/elseif}
				#{else}@{KursneListe.filter()}#{/else}
			#{/set}
		
			<form action=${action} method="post">
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				<p>
				#{field 'banka'}
					<label for = "${field.id}">Banka</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					#{list items:banke, as:'banka'}
					<option value = "${banka.id}">${banka.nazivBanke}</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#banke_modal">...</button>
				#{/}
				</p>
				<p>
				#{field 'brojKursneListe'}
					<label for = "${field.id}">Broj kursne liste</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'datumKursneListe'}
					<label for = "${field.id}">Datum kursne liste</label>
					<input type = "date" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'primSeOd'}
					<label for = "${field.id}">Primjenjuje se od</label>
					<input type = "date" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'primSeDo'}
					<label for = "${field.id}">Primjenjuje se do</label>
					<input type = "date" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>
</div>
#{ModalTemplate modalId : 'banke_modal', modalTitle: 'Banke', selectId : 'banka', table : 'tags/TabelaBanke.html', data : banke, tableId: 'tabela_banke', hiddenColumns : '[3,4,5,6,7,8,9]', idColumn:'9' /}