#{extends 'standardForm.html' /}
#{set title:'Klijenti' /}
<script>

$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";
	#{if flash.highlightedId}
	var items = $(".maintable tr");
	$(".highlighted").removeClass("highlighted");
	for(var i = 0; i < items.length; i++) {
		var item = $(items[i]);
		var id = item.find(".id").html();
		if(id == highlightedId) {
			item.addClass("highlighted")
			sync(item);
			break;
		}
	}
	#{/if}
	$("#search").click(function() {
		var loc = '@{Klijenti.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#add").click(function() {
		var loc = '@{Klijenti.show()}' + '?mode=add&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#edit").click(function() {
		var loc = '@{Klijenti.show()}' + '?mode=edit&highlightedId=' + highlightedId;		
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{Klijenti.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});

function sync(data){
    $("#tipKlijenta").val(data[0]);
    $("#nazivKlijenta").val(data[1]);
    #{if flash.mode == 'search'}
	$("#pibManjeJednako").val(data[2]);
	$("#pibVeceJednako").val(data[2]);
	#{/if}
	#{else}
	$("#pibKlijenta").val(data[2]);
	#{/else}
    $("#imeKlijenta").val(data[3]);
    $("#przKlijenta").val(data[4]);
    $("#telKlijenta").val(data[5]);
    $("#adrKlijenta").val(data[6]);
    $("#webKlijenta").val(data[7]);
    $("#emailKlijenta").val(data[8]);
    $("#faksKlijenta").val(data[9]);
    $("#id").val(data[10]);
    highlightedId = data[10];
}

function nextForm(id){
	$(location).attr('href', '/Racun/nextForm?klijent_id=' +id);	
}

function remove(id){
	$(location).attr('href', '/Klijenti/delete?id=' + highlightedId)
}

</script>

#{StandardFormToolbar /}

<div class = "container-fluid">
<h1>Klijenti</h1>

#{TabelaKlijenti data : klijenti, tableId : 'tabela_klijenti', hiddenColumns : '[10]', idColumn:'10' /}

<div class = "panel">
	<p>
		
			#{set 'action'}
				#{if flash.mode == 'add'}
					@{Klijenti.create()}
				#{/if}
				#{elseif flash.mode == 'edit'}
					@{Klijenti.edit()}
				#{/elseif}
				#{else}
					@{Klijenti.filter()}
				#{/else}
			#{/set}
		
			<form action=${action} method="post">
				<p>
				<label>Status:</label>
				<label><b>${flash.mode}</b></label>
				</p>
				
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'tipKlijenta'}
					<label for = "${field.id}">Tip</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					  #{if flash.mode == 'search'}<option value = "">Svi Tipovi</option>#{/if}
					  <option value = "P">Pravno Lice</option>
					  <option value = "F">Fizičko Lice</option>
					</select>
					<span class="error">#{error 'tipKlijenta' /}</span>
				#{/}
				</p>
				<p>
				#{field 'nazivKlijenta'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'nazivKlijenta' /}</span>
				#{/}
				</p>
				#{if flash.mode == 'search'}
				<p>
				#{field 'pibManjeJednako'}
					<label for = "${field.id}">Pib &lt=</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'pibKlijenta' /}</span>
				#{/}
				</p>
				<p>
				#{field 'pibVeceJednako'}
					<label for = "${field.id}">Pib &gt=</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'pibKlijenta' /}</span>
				#{/}
				</p>
				#{/if}
				#{else}
				<p>
				#{field 'pibKlijenta'}
					<label for = "${field.id}">Pib</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'pibKlijenta' /}</span>
				#{/}
				</p>
				#{/else}
				<p>
				#{field 'imeKlijenta'}
					<label for = "${field.id}">Ime</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'imeKlijenta' /}</span>
				#{/}
				</p>
				<p>
				#{field 'przKlijenta'}
					<label for = "${field.id}">Prezime</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'przKlijenta' /}</span>
				#{/}
				</p>
				<p>
				#{field 'telKlijenta'}
					<label for = "${field.id}">Telefon</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'telKlijenta' /}</span>
				#{/}
				</p>
				<p>
				#{field 'adrKlijenta'}
					<label for = "${field.id}">Adresa</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'adrKlijenta' /}</span>
				#{/}
				</p>
				<p>
				#{field 'webKlijenta'}
					<label for = "${field.id}">Web</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'webKlijenta' /}</span>
				#{/}
				</p>
				<p>
				#{field 'emailKlijenta'}
					<label for = "${field.id}">Email</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'emailKlijenta' /}</span>
				#{/}
				</p>
				<p>
				#{field 'faksKlijenta'}
					<label for = "${field.id}">Faks</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'faksKlijenta' /}</span>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Klijenti.showDefault()}" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>
</div>

