#{extends 'main.html'/}

<script>
	$(document).ready(function() {

		$(".maintable tr").click(function() {
			//ne reagujemo na klik na header tabele, samo obicne redove
			//this sadrzi red na koji se kliknulo
			if (!$(this).hasClass("header")) {
				//klasa highlighted postavlja pozadinu na zutu
				//njenim dodavanjem ili uklanjanjem oznacavamo da neki red
				//dobija, odnosno gubi selekciju
				//uklanjamo sa trenutno selektovanog
				$(".highlighted").removeClass("highlighted");
				//dodajemo na novi selektovani
				$(this).addClass("highlighted");
				//pozivamo sinhronizaciju, prosledjujemo dati red
				sync($(this));
			}
		});
		
		$(".modal-body tr").click(function() {
			//ne reagujemo na klik na header tabele, samo obicne redove
			//this sadrzi red na koji se kliknulo
			if (!$(this).hasClass("header")) {
				//klasa highlighted postavlja pozadinu na zutu
				//njenim dodavanjem ili uklanjanjem oznacavamo da neki red
				//dobija, odnosno gubi selekciju
				//uklanjamo sa trenutno selektovanog
				$(".highlighted2").removeClass("highlighted2");
				//dodajemo na novi selektovani
				$(this).addClass("highlighted2");
				//pozivamo sinhronizaciju, prosledjujemo dati red
				//sync($(this)); //NE POZIVAMO SINHRONIZACIJU!!!!!!!
			}
		});

		$("#first").click(function() {
			//indeksi pocinju od 1
			//prvi red je header, zato se trazi drugo dete
			item = $("table tr:nth-child(2)");
			$(".highlighted").removeClass("highlighted");
			item.addClass("highlighted");
			sync(item);
		});

		$("#last").click(function() {
			//indeksi pocinju od 1
		 	var count = $("tr").length;
			item = $("table tr:nth-child(" + count + ")");
			$(".highlighted").removeClass("highlighted");
			item.toggleClass("highlighted");
			sync(item);
		});

		$("#next").click(function() {
			highlighted = $(".highlighted");
			//nalazi poziciju trazanog u okviru selektovane selekcije
			//indeksi pocinju od 0
			var count = $("tr").length;
			if (count == 0)
				return;
			index = $("tr").index(highlighted);
			if (index < 0)
				return;
			//ako smo na poslednjem, predji na prvi (odnosno drugi red, preskacuci header)
			selectChild = 2;
			//inace
			if (index < count - 1)
				selectChild = index + 2; //povecavamo za 1, i jos dodajemo 1 jer nth child pocinje od 1, indeksi od 0
			item = $("tr:nth-child(" + selectChild + ")");
			$(".highlighted").removeClass("highlighted");
			item.addClass("highlighted");
			sync(item);
		});

		$("#prev").click(function() {
			highlighted = $(".highlighted");
			//indeksi pocinju od 0
			index =  $("tr").index(highlighted);
			var count = $("tr").length - 1;
			
			if (count == 0 || index < 0)
				return;
			
			if(index == 1)
				index = count + 1;
			
			else
				index = index;

			item = $("tr:nth-child(" + index + ")");
			$(".highlighted").removeClass("highlighted");
			item.addClass("highlighted");
			sync(item);
		});

		$("#remove").click(function(){
			highlighted = $(".highlighted");
			if (highlighted.length != 0) {
			  	if (confirm('Da li ste sigurni da zelite da obrisete selektovanu vrstu?')) {		
					id = highlighted.find(".id").html();
					remove(id);
				} else {}
			}
		});
		
		$("#remove").click(function(){
			if((highlightedId != null) && (highlightedId != "")) {
				if(confirm('Da li ste sigurni da zelite da obrisete selektovanu vrstu?')) {
					remove(highlightedId)
				}
			}
		});
		
		$("#nextform").click(function(){
			highlighted = $(".highlighted");
            if(highlighted.length != 0){
                id = highlighted.find(".id").html();
                nextForm(id);
            }
			else{
				alert("Niste selektovali slog u tabeli");
			}
        });
		
		
		$(".nextform2").on('click', function(){	  	//ukoliko ima vise next formi
			highlighted = $(".highlighted");
			path = $(this).attr('id');
			if (highlighted.length != 0) {
				id = highlighted.find(".id").html();
				nextForm(id, path);
			}
			else{
				alert("Niste selektovali slog u tabeli");
			}
		});
		
		MyModals = {};
		(function(MyModals) {
			var callbacks = {};
			MyModals.addCallback = function(name, callback) {
				callbacks[name] = callback;
			};
			MyModals.callback = function(name, id) {
				callbacks[name](id);
			};
		}(MyModals));
	});
	
	$(document).ready(function() {
	    $("#datepicker").datepicker();
	    
	    ( function( factory ) {
	    	if ( typeof define === "function" && define.amd ) {
	    		define( [ "../widgets/datepicker" ], factory );
	    	} else {
	    		factory( jQuery.datepicker );
	    	}
	    }( function( datepicker ) {

	    datepicker.regional[ "sr-SR" ] = {
	    	changeMonth: true,
	    	changeYear: true,
	    	closeText: "Zatvori",
	    	prevText: "&#x3C;",
	    	nextText: "&#x3E;",
	    	currentText: "Danas",
	    	monthNames: [ "Januar","Februar","Mart","April","Maj","Jun",
	    	"Jul","Avgust","Septembar","Oktobar","Novembar","Decembar" ],
	    	monthNamesShort: [ "Jan","Feb","Mar","Apr","Maj","Jun",
	    	"Jul","Avg","Sep","Okt","Nov","Dec" ],
	    	dayNames: [ "Nedelja","Ponedeljak","Utorak","Sreda","Četvrtak","Petak","Subota" ],
	    	dayNamesShort: [ "Ned","Pon","Uto","Sre","Čet","Pet","Sub" ],
	    	dayNamesMin: [ "Ne","Po","Ut","Sr","Če","Pe","Su" ],
	    	weekHeader: "Sed",
	    	dateFormat: "dd.mm.yy",
	    	firstDay: 1,
	    	isRTL: false,
	    	showMonthAfterYear: false,
	    	yearSuffix: "" };
	    datepicker.setDefaults( datepicker.regional[ "sr-SR" ] );

	    return datepicker.regional[ "sr-SR" ];

	    } ) );
	  });


</script>

#{doLayout/}



