#{extends 'standardForm.html' /}
#{set title:'Kurs u valuti' /}

<script>
$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";

	$("#search").click(function() {
		var loc = '@{KurseviUValuti.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#add").click(function() {
		var loc = '@{KurseviUValuti.show()}' + '?mode=add&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#edit").click(function() {
		var loc = '@{KurseviUValuti.show()}' + '?mode=edit&highlightedId=' + highlightedId;		
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{KurseviUValuti.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});

function sync(data){
	$("#osnovnaValuta").val(data[8]);
	$("#premaValuti").val(data[9]);
	$("#kursnaLista").val(data[10]);
	#{if flash.mode != 'search'}
	$("#kupovni").val(data[4]);
	$("#srednji").val(data[5]);
	$("#prodajni").val(data[6]);
	#{/if}
	$("#id").val(data[7]);
	
	highlightedId = data[7];
}

/*function nextForm(id){
	$(location).attr('href', '/NaseljenaMesta/nextForm?drzava_id=' +id);	
}
*/
function remove(id){
	$(location).attr('href', '/KurseviUValuti/delete?id=' +id)
}
</script>

#{StandardFormToolbar /}

<div class = "container-fluid">
<h1>Kursevi u valuti</h1>
#{TabelaKurseviUValuti data : kursevi, tableId: 'tabela_kursevi', hiddenColumns : '[7,8,9,10]', idColumn:'7' /}
<div class = "panel">
	<p>
		<div><b>Status: ${flash.mode}</b></div> <br>
			#{set 'action'}
				#{if flash.mode == 'add'}
					@{KurseviUValuti.create()}
				#{/if}
				#{elseif flash.mode == 'edit'}
					@{KurseviUValuti.edit()}
				#{/elseif}
				#{else}
					@{KurseviUValuti.filter()}
				#{/else}
			#{/set}
		
			<form action=${action} method="post">
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				<p>
				#{field 'kursnaLista'}
					<label for = "${field.id}">Kursna lista</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}" #{if flash.mode== 'edit'}disabled="disabled"#{/if}/>
					#{if flash.mode == 'search'}<option value = "">Bilo Koja</option>#{/if}
					#{list items:kursneListe, as:'kursnaLista'}
					<option value = "${kursnaLista.id}">${kursnaLista.banka.nazivBanke}-${kursnaLista.brojKursneListe}</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#kursna_lista_modal" #{if flash.mode== 'edit'}disabled="disabled"#{/if}>...</button>
				#{/}
				</p>
				<p>
				#{field 'osnovnaValuta'}
					<label for = "${field.id}">Osnovna valuta</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}" #{if flash.mode== 'edit'}disabled="disabled"#{/if}/>
					#{if flash.mode == 'search'}<option value = "">Bilo Koja</option>#{/if}
					#{list items:valute, as:'valuta'}
					<option value = "${valuta.id}">${valuta.zvanicnaSifra}</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#osnovna_valuta_modal" #{if flash.mode== 'edit'}disabled="disabled"#{/if}>...</button>
					
				#{/}
				</p>
				<p>
				#{field 'premaValuti'}
					<label for = "${field.id}">Prema valuti</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}" #{if flash.mode== 'edit'}disabled="disabled"#{/if}/>
					#{if flash.mode == 'search'}<option value = "">Bilo Koja</option>#{/if}
					#{list items:valute, as:'valuta'}
					<option value = "${valuta.id}">${valuta.zvanicnaSifra}</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#prema_valuti_modal" #{if flash.mode== 'edit'}disabled="disabled"#{/if}>...</button>
					
				#{/}
				</p>
				#{if flash.mode != 'search'}
					<p>
				#{field 'kupovni'}
					<label for = "${field.id}">Kupovni</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>					
				#{/}
				</p>
								<p>
				#{field 'srednji'}
					<label for = "${field.id}">Srednji</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>					
				#{/}
				</p>
								<p>
				#{field 'prodajni'}
					<label for = "${field.id}">Prodajni</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>					
				#{/}
				</p>
					
				#{/if}
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{KurseviUValuti.show("edit")}" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>
</div>
#{ModalTemplate modalId : 'kursna_lista_modal', modalTitle: 'Kursna lista', selectId : 'kursnaLista', table : 'tags/TabelaKursneListe.html', data : kursneListe, tableId: 'tabela_kursne_liste', hiddenColumns : '[5,6]', idColumn:'5' /}
#{ModalTemplate modalId : 'osnovna_valuta_modal', modalTitle: 'Osnovna valuta', selectId : 'osnovnaValuta', table : 'tags/TabelaValute.html', data : valute, tableId: 'tabela_osnovna_valuta', hiddenColumns : '[3,4]', idColumn:'3' /}
#{ModalTemplate modalId : 'prema_valuti_modal', modalTitle: 'Prema valuti', selectId : 'premaValuti', table : 'tags/TabelaValute.html', data : valute, tableId: 'tabela_prema_valuti', hiddenColumns : '[3,4]', idColumn:'3' /}