#{extends 'standardForm.html' /}
#{set title:'Računi' /}

<script>

$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";

	$("#search").click(function() {
		var loc = '@{Racuni.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#add").click(function() {
		var loc = '@{Racuni.show()}' + '?mode=add&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{Racuni.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});

function sync(data){
	$("#brojRacuna").val(data[2]);
	#{ifnot flash.mode == 'search'}
    $("#datumOtvaranja").val(data[4]);
    $("#vazeci").prop('checked', data[5]);
    #{/ifnot}
    #{else}
    $("#datumOtvaranjaManjeJednako").val(data[4]);
    $("#datumOtvaranjaVeceJednako").val(data[4]);
    $("#vazeci").val(data[5]);
    #{/else}
    $("#id").val(data[6]);
    $("#valuta").val(data[7]);
    $("#klijent").val(data[9]);
    $("#banka").val(data[8]);
    
    highlightedId = data[6];
}
/*
function nextForm(id){
	$(location).attr('href', '/NaseljenaMesta/nextForm?drzava_id=' +id);	
}
*/
function remove(id){
	$(location).attr('href', '/Racuni/delete?id=' +id)
}

</script>

#{StandardFormToolbar nextForms : [[action : '', disp : 'Dnevna Stanja'],[action : '', disp : 'ukidanja']] /}

<div class = "container-fluid">
<h1>Računi</h1>
 #{TabelaRacuni data : racuni, tableId: 'tabela_racuni', hiddenColumns : '[6,7,8,9]', idColumn:'6'/}
<div class = "panel">
	<p>
		<div><b>Status: ${flash.mode}</b></div> <br>
			#{set 'action'}
				#{if flash.mode == 'add'}@{Racuni.create()}#{/if}
				#{else}@{Racuni.filter()}#{/else}
			#{/set}
		
			<form action="${action}" method="post">
				#{ifnot flash.mode == 'search'}
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				<p>
				#{field 'brojRacuna'}
					<label for = "${field.id}">Broj računa</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" disabled="disabled"/>
					<span class="error">#{error 'brojRacuna' /}</span>
				#{/}
				</p>
				<p>
				#{field 'valuta'}
					<label for = "${field.id}">Šifra valute</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					#{list items:valute, as:'valuta'}
					<option value = "${valuta.id}">${valuta.zvanicnaSifra}</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#valute_modal">...</button>
					
				#{/}
				</p>
				<p>
				#{field 'banka'}
					<label for = "${field.id}">Banka</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					#{list items:banke, as:'banka'}
					<option value = "${banka.id}">${banka.nazivBanke}</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#banke_modal">...</button>
				#{/}
				</p>
				<p>
				#{field 'klijent'}
					<label for = "${field.id}">Klijent</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					#{list items:klijenti, as:'klijent'}
					<option value = "${klijent.id}">
					#{if klijent.tipKlijenta == 'P'}
						${klijent.nazivKlijenta}
					#{/if}
					#{else}
						${klijent.przKlijenta + " " + klijent.imeKlijenta}
					#{/else}
					</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#klijenti_modal">...</button>
				#{/}
				</p>
				<p>
				#{field 'datumOtvaranja'}
					<label for = "${field.id}">Datum otvaranja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" readonly="readonly" disabled="disabled"/>
					<script>
						$('#${field.id}').datepicker();
					</script>
				#{/}
				</p>
				<p>
				#{field 'vazeci'}
					<label for = "${field.id}">Važeći</label>
					<input type = "checkbox" name = "${field.name}" id = "${field.id}" disabled="disabled"/>
				#{/}
				</p>
				#{/ifnot}
				#{else}
				<p>
				#{field 'brojRacuna'}
					<label for = "${field.id}">Broj računa</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'brojRacuna' /}</span>
				#{/}
				</p>
				<p>
				#{field 'datumOtvaranjaManjeJednako'}
					<label for = "${field.id}">Datum otvaranja &lt=</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<script>
						$('#${field.id}').datepicker();
					</script>
				#{/}
				</p>
				<p>
				#{field 'datumOtvaranjaVeceJednako'}
					<label for = "${field.id}">Datum otvaranja &gt=</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<script>
						$('#${field.id}').datepicker();
					</script>
				#{/}
				</p>
				<p>
				#{field 'vazeci'}
					<label for = "${field.id}">Važeći</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					<option value = "">Oboje</option>
					<option value = "true">Da</option>
					<option value = "false">Ne</option>
					</select>
				#{/}
				</p>
				#{/else}
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Racuni.showDefault()}" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>
</div>

#{ModalTemplate modalId : 'klijenti_modal', modalTitle : 'Klijenti', selectId : 'klijent', table : 'tags/TabelaKlijenti.html', data : klijenti, tableId: 'tabela_klijenti', hiddenColumns : '[5,6,7,8,9,10]', idColumn:'10' /}
#{ModalTemplate modalId : 'valute_modal', modalTitle: 'Valute', selectId : 'valuta', table : 'tags/TabelaValute.html', data : valute, tableId: 'tabela_valute', hiddenColumns : '[3,4]', idColumn:'3' /}
#{ModalTemplate modalId : 'banke_modal', modalTitle: 'Banke', selectId : 'banka', table : 'tags/TabelaBanke.html', data : banke, tableId: 'tabela_banke', hiddenColumns : '[3,4,5,6,7,8,9]', idColumn:'9' /}