#{extends 'standardForm.html' /}
#{set title:'Računi' /}

<script>

$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";
	#{if flash.highlightedId}
	var items = $(".maintable tr");
	$(".highlighted").removeClass("highlighted");
	for(var i = 0; i < items.length; i++) {
		var item = $(items[i]);
		var id = item.find(".id").html();
		if(id == highlightedId) {
			item.addClass("highlighted")
			sync(item);
			break;
		}
	}
	#{/if}
	$("#search").click(function() {
		var loc = '@{Racuni.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#add").click(function() {
		var loc = '@{Racuni.show()}' + '?mode=add&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{Racuni.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});

function sync(data){
	$("#brojRacuna").val(data[2]);
    $("#datumOtvaranja").val(data[4]);
    $("#vazeci").val(data[2]);
    $("#id").val(data[6]);
    $("#valuta").val(data[7]);
    $("#klijent").val(data[9]);
    $("#banka").val(data[8]);
    
    highlightedId = data[6];
}
/*
function nextForm(id){
	$(location).attr('href', '/NaseljenaMesta/nextForm?drzava_id=' +id);	
}
*/
function remove(id){
	$(location).attr('href', '/Racuni/delete?id=' +id)
}

</script>

<p>
<ul>
  <li><a href="/" id = "drzave"><img src="@{'/public/images/home.png'}"/></a></li>
  
  <li><a href="#" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="#" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a id = "edit"><img src="@{'/public/images/edit.png'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Računi</h1>
<!-- 
<table class = "maintable">
	<tr class = "header">
	   <th>Banka</th>
	   <th>Klijent</th>
	   <th>Broj računa</th> 
	   <th>Šifra valute</th>
	   <th>Datum otvaranja</th>
	   <th>Važeći</th> 
	</tr>
#{list items:racuni, as:'racun'}
	<tr>
		<td class = "banka">#{if racun.banka} ${racun.banka.nazivBanke} #{/if}</td>
		<td class = "klijent">#{if racun.klijent} ${racun.klijent.nazivKlijenta} #{/if}</td>
		<td class = "brojRacuna">${racun.brojRacuna}</td>
		<td class = "valuta">#{if racun.valuta} ${racun.valuta.zvanicnaSifra} #{/if}</td>
		<td class = "datumOtvaranja">${racun.datumOtvaranja}</td>
		<td class = "vazeci">${racun.vazeci}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${racun.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "valuta_id">#{if racun.valuta}${racun.valuta.id}#{/if}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "banka_id">#{if racun.banka}${racun.banka.id}#{/if}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "klijent_id">#{if racun.klijent}${racun.klijent.id}#{/if}</td>
	</tr>
#{/list}
</table>
 -->
 #{TabelaRacuni data : racuni, tableId: 'tabela_racuni', hiddenColumns : '[6,7,8,9]', idColumn:'6'/}
<div class = "panel">
	<p>
		<div><b>Status: ${flash.mode}</b></div> <br>
			#{set 'action'}
				#{if flash.mode == 'add'}@{Racuni.create()}#{/if}
				#{else}@{Racuni.filter()}#{/else}
			#{/set}
		
			<form action="${action}" method="post">
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'brojRacuna'}
					<label for = "${field.id}">Broj računa</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'brojRacuna' /}</span>
				#{/}
				</p>
				<p>
				#{field 'valuta'}
					<label for = "${field.id}">Šifra valute</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					#{list items:valute, as:'valuta'}
					<option value = "${valuta.id}">${valuta.zvanicnaSifra}</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#valute_modal">...</button>
					
				#{/}
				</p>
				<p>
				#{field 'banka'}
					<label for = "${field.id}">Banka</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					#{list items:banke, as:'banka'}
					<option value = "${banka.id}">${banka.nazivBanke}</option>
					#{/list}
					</select>
				#{/}
				</p>
				<p>
				#{field 'klijent'}
					<label for = "${field.id}">Klijent</label>
					<select style="margin-left:1em" name = "${field.name}" id = "${field.id}"/>
					#{list items:klijenti, as:'klijent'}
					<option value = "${klijent.id}">
					#{if klijent.tipKlijenta == 'P'}
						${klijent.nazivKlijenta}
					#{/if}
					#{else}
						${klijent.przKlijenta + " " + klijent.imeKlijenta}
					#{/else}
					</option>
					#{/list}
					</select>
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#klijenti_modal">...</button>
				#{/}
				</p>
				<p>
				#{field 'datumOtvaranja'}
					<label for = "${field.id}">Datum otvaranja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" readonly="readonly"/>
					<script>
						$('#datumPrijema').datepicker();
					</script>
				#{/}
				</p>
				<p>
				#{field 'vazeci'}
					<label for = "${field.id}">Važeći</label>
					<input type = "checkbox" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Racuni.showDefault()}" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>
</div>

#{ModalTemplate modalId : 'klijenti_modal', modalTitle : 'Klijenti', selectId : 'klijent', table : 'tags/TabelaKlijenti.html', data : klijenti, tableId: 'tabela_klijenti', hiddenColumns : '[5]', idColumn:'5' /}
#{ModalTemplate modalId : 'valute_modal', modalTitle: 'Valute', selectId : 'valuta', table : 'tags/TabelaValute.html', data : valute, tableId: 'tabela_valute', hiddenColumns : '[2]', idColumn:'2' /}
