#{extends 'standardForm.html' /}
#{set title:'Države' /}

<script>
	$(document).ready(function() {
		highlightedId = "${flash.highlightedId}";
		
		$("#search").click(function() {
			var loc = '@{Drzave.show()}' + '?mode=search&highlightedId=' + highlightedId;
			$(location).attr('href', loc);
		});
		$("#add").click(function() {
			var loc = '@{Drzave.show()}' + '?mode=add&highlightedId=' + highlightedId;
			$(location).attr('href', loc);
		});
		$("#refresh").click(function() {
			var mode = "${flash.mode}";
			$(location).attr('href', '@{Drzave.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
		});
		
	});
	
	function sync(data) {
		$("#oznaka").val(data[0]);
		$("#naziv").val(data[1]);
		$("#id").val(data[2]);
		highlightedId = data[2];
	}
	
	function nextNaseljenaMjesta(){
    	if(highlightedId==null || highlightedId == "") {
    		alert("Drzava nije selektovana!");
    	} else {
    		var string = '/Drzave/nextNaseljenaMjesta?filterId=' + highlightedId;
    		$(location).attr('href', '/Drzave/nextNaseljenaMjesta?filterId=' + highlightedId);	
    	}
    }
	
	function nextValute(){
    	if(highlightedId==null || highlightedId == "") {
    		alert("Drzava nije selektovana!");
    	} else {
    		var string = '/Drzave/nextValute?filterId=' + highlightedId;
    		$(location).attr('href', '/Drzave/nextValute?filterId=' + highlightedId);	
    	}
    }

	/*
	function sync(item) {
		oznaka = item.find(".oznaka").html()
		naziv = item.find(".naziv").html()
		id = item.find(".id").html()

		$("#oznaka").val(oznaka);
		$("#naziv").val(naziv);
		$("#id").val(id);
	}

	*/
	//function nextForm(id){
	//$(location).attr('href', '/NaseljenaMesta/nextForm?drzava_id=' +id);	
	//}

	function nextForm(id, path) {
		$(location).attr('href', '/' + path + '/nextForm?drzava_id=' + id);
	}

	function remove(id) {
		$(location).attr('href', '/Drzave/delete?id=' + id)
	}
</script>


#{StandardFormToolbar nextForms : [[action : 'nextNaseljenaMjesta()', disp : 'Naseljena Mjesta'],[action : 'nextValute()', disp : 'Valute']] /}

<!--  
<p>

<ul class="dropdown">
  <li><a href="/" id = "drzave"><img src="@{'/public/images/home.png'}"/></a></li>
  
  <li><a href="@{Drzave.show('search')}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Drzave.show('add')}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{Drzave.show('edit')}" id = "edit"><img src="@{'/public/images/edit.png'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>

	<li>
		<div class="dropdown show">
			<a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img src="@{'/public/images/nextform.gif'}" />
			</a>

			<div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item nextform2" id="NaseljenaMesta">Naseljena mjesta</a>
				<a class="dropdown-item nextform2" id="Valute">Valute</a>
			</div>
		</div>
	</li>

	
</ul>

</p>

-->

<div class = "container-fluid">
	<h1>Države</h1>
	
	#{TabelaDrzave data : drzave, tableId : 'tabela_drzave', hiddenColumns : '[2]', idColumn:'2' /}
	
	<!--  
	<table class = "maintable">
		<tr class = "header">
	   		<th>Oznaka države</th> 
	   		<th>Naziv države</th>
		</tr>
		#{list items:drzave, as:'drzava'}
		<tr>
			<td class = "oznaka">${drzava.oznaka}</td>
			<td class = "naziv">${drzava.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${drzava.id}</td>
		</tr>
		#{/list}
	</table> 
	-->

<div class = "panel">
	<p>
		<div><b>Status: ${mode}</b></div> <br>
			#{set 'action'}
				#{if mode == 'add'}
					@{Drzave.create()}
				#{/if}
				#{elseif mode == 'edit'}
					@{Drzave.edit()}
				#{/elseif}
				#{else}
					@{Drzave.filter()}
				#{/else}
			#{/set}
		
			<form action=${action} method="post">
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'oznaka'}
					<label for = "${field.id}">Oznaka države:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" placeholder="[A-Z]{3}"/>
				#{/}
				</p>
				<p>
				#{field 'naziv'}
					<label for = "${field.id}">Naziv države:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" placeholder="[a-z / A-Z]"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
	</p>
</div>

</div>

