#{extends 'standardForm.html' /}
#{set title:'Dnevna stanja računa' /}

<script>
$(document).ready(function() {
	highlightedId = "${flash.highlightedId}";

	$("#search").click(function() {
		var loc = '@{DnevnaStanjaRacuna.show()}' + '?mode=search&highlightedId=' + highlightedId;
		$(location).attr('href', loc);
	});
	$("#refresh").click(function() {
		var mode = "${flash.mode}";
		$(location).attr('href', '@{DnevnaStanjaRacuna.show()}' + '?mode=' + mode + '&highlightedId=' + highlightedId);
	});
});

function sync(data){
	$("#racun").val(data[7]);
	$("#brojIzvoda").val(data[0]);
	$("#brojRacuna").val(data[1]);
	$("#datumPrometa").val(data[2]);
	$("#predhodnoStanje").val(data[3]);
	$("#prometUKorist").val(data[4]);
	$("#prometNaTeret").val(data[5]);
	$("#novoStanje").val(data[6]);
	
    highlightedId = data[0];
}

	function remove(id){
		$(location).attr('href', '/DnevnaStanjaRacuna/delete?id=' +id)
	}
</script>

#{StandardFormToolbar /}

<div class = "container-fluid">
	<h1>Dnevna stanja računa</h1>

	#{TabelaDnevnaStanjaRacuna data : dnevnaStanjaRacuna, tableId: 'tabela_dnevna_stanja_racuna', hiddenColumns : '[7]', idColumn:'0'/}
	
	<!--  
	<div class = "panel">
	<p>
		<div><b>Status: read-only</b></div> <br>
			<form>
				#{field 'racun'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'brojIzvoda'}
					<label for = "${field.id}">Broj izvoda:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'brojRacuna'}
					<label for = "${field.id}">Broj racuna:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'datumPrometa'}
					<label for = "${field.id}">Datum prometa:</label>
					<input type = "text" name = "${field.name}" id = "${field.id}" readonly="readonly"/>
					<script>
						$('#datumPrometa').datepicker();
					</script>
				#{/}
				</p>
				<p>
				#{field 'predhodnoStanje'}
					<label for = "${field.id}">Predhodno stanje:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'prometUKorist'}
					<label for = "${field.id}">Promet u korist:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<p>
				#{field 'prometNaTeret'}
					<label for = "${field.id}">Promet na teret:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}" />
				#{/}
				</p>
				<p>
				#{field 'novoStanje'}
					<label for = "${field.id}">Novo stanje:</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
			</form>
		</p>
	</div>
	-->
</div>
	
