#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Odaberite formu:</h1>

<a href="@{Drzave.show()}">Države</a><br>
<a href="@{NaseljenaMesta.show()}">Naseljena mesta</a><br>
<a href="@{Banke.show()}">Banke</a><br>
<a href="@{Klijenti.showDefault()}">Klijenti</a><br>
<a href="@{Racuni.showDefault()}">Racuni</a><br>
<a href="@{DnevnaStanjaRacuna.show()}">Dnevna stanja računa</a><br>
<a href="@{AnalitikeIzvoda.show()}">Analitike izvoda</a><br>
<a href="@{MedjubankarskiPrenosi.show()}">Međubankarski prenosi</a><br>
<a href="@{StavkeKliringa.show()}">Stavke kliringa</a><br>
<a href="@{KursneListe.showDefault()}">Kursne Liste</a><br>
<a href="@{Valute.showDefault()}">Valute</a><br>
<a href="@{KurseviUValuti.show()}">Kursevi u valuti</a><br>
<a href="@{Ukidanja.show()}">Ukidanja</a><br>
<a href="@{VrstePlacanja.show()}">Vrste placanja</a><br>
